<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos</title>
                <!-- impotamos los estilos index que le daremos a la pagina y a nuestraa tabla-->
        <link rel="stylesheet" href="style/index.css">
          <!-- importmos los estilos de bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <ul class="menu">
                    <li class="ajustes"><a href="configuracion.html">Ajustes</a></li>
                    <div class="center-menu">
                        <li><a class="active" href="vistaproductos">Productos</a></li>
                        <li><a href="#">Datos</a></li>
                        <li><a href="#">Descriminación Dinero</a></li>
                        <li><a href="#">Anulaciones Parciales</a></li>
                        <li><a href="#">Relación Gastos</a></li>
                    </div>
                    <li class="index"><a href="lista.html">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>
  <!-- creamos un contenedor y una tabla uzando bootstrap para el estilo -->
        <div class="container mt-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Gestion Productos</h5>
                    <a class="btn btn-primary ms-auto" href="/vistaproductos/crear">Nuevo Producto</a>
                    <div class="header-elements">
                        <div class="list-icons text-muted font-weight-light">
                            <a class="list-icons-item" data-action="collapse" data-abc="true">
                                <i class="fa fa-minus font-weight-light">

                                </i>
                            </a>
                            <a class="list-icons-item" data-action="reload" data-abc="true">
                                <i class="fa fa-refresh">

                                </i>
                            </a>
                            <a class="list-icons-item" data-action="remove" data-abc="true">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Imagen</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                          <!-- importamos los atributos de nuestra entidad para mostrarlos -->
                        <tbody>
                            <tr th:each="producto : ${productos}">
                                <td th:text="${producto.id}"></td>
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.descripcion}"></td>
                                <td th:text="${producto.precio}"></td>
                                <td>
                                    <img th:src="@{'/imagenes/' + ${producto.imagen}}" style="width: 225px; height: 255px;"/>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" th:href="@{/vistaproductos/editar(id=${producto.id})}">Editar</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" th:href="@{/vistaproductos/eliminar(id=${producto.id})}">Eliminar</a>
                                </td>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
