/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16/06/2024, 7:05:21 a. m.
    Author     : driss
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

.center-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.form-group-centered {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }   

 

.table th, .table td {
    text-align: center; 
    vertical-align: middle; 
    padding: 8px; 
}


    .mt-50{

        margin-top: 50px;
    }

    .mb-50{

        margin-bottom: 50px;
    }


    a{
        text-decoration: none !important;
    }


    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .1875rem;
    }


    .card-header:not([class*=bg-]):not([class*=alpha-]) {
        background-color: transparent;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        border-bottom-width: 0;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }



    .header-elements-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
     
        
.container {
    
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}


h2 {
    background-color: hsl(158, 100%, 51%);
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

li a:hover:not(.active) {
    background-color: #111;
}


.active {
    background-color: #e4605e;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.second-block {
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 99%;
    margin-left: 3px;
}



.footer {
    width: 100%;
    background-color: #333;
    color: #FFF;
    padding: 10px;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    position: absolute;
    bottom: 0;


}
